                /* RESET */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
                /* UTILITY */
:root{
    --first-color: #0084fd;
    --first-color-light: #b5ddff;
    --secondary-color: #9792e4;
}
body{
    font-family: 'Inconsolata', monospace;
}
.container{
    padding: 1.25rem;
}
.flex{
    display: flex;
}
.just-between{
    justify-content: space-between;
}
a{
    text-decoration: none;
}
.middle{
    align-items: center;
}
.desktop-menu, .menu, .inline-ulist li a{
    color: white;
}
.inline-ulist{
    display: flex;
    list-style: none;
}
.inline-ulist li {
    padding: .625rem;
}
img{
    width: 100%;
}
.col-txt p{
    padding: .625rem;
    color: gray;
}
.txt-content{
    padding: 1.25rem;
    text-align: center;
}
.txt-cards{
    color: white;
    text-align: center;
}
.prp-txt{
    color: var(--secondary-color);
    padding: .625rem;
}
                /* BUTTON */
#menu-btn{
    color:black ;
    background-color: white;
    padding: .625rem; 
    border: 1px solid white;
    border-radius: 15px;
}
.app-store{
    color: white;
    background-color: var(--first-color);
    border: #0084fd 1px solid;
    border-radius: 1.25rem;
    padding: .3125rem .625rem;
    margin: 10px;
}
.btn-prp{
    background-color: var(--secondary-color);
    color: white;
    padding: .3125rem;
    width: 9.375rem;
    text-align: center;
    border: .0625rem solid var(--secondary-color);
    border-radius: 1.25rem;
}
                /* HEADER */
header{
    background-color: var(--first-color);
}
@media screen and (max-width: 768px) {
    .desktop-menu{
        display: none;
    }
}
@media screen and (min-width: 769px) {
    header .menu{
        display: none;
    }
}
                /* MAIN */

/* APP-INFO */
#app-info .container .row .col h3{
    color: var(--first-color);
}
.col{
    background-color: var(--first-color-light);
    text-align: center;
    margin: 1.25rem auto;
    padding: 2.8125rem;
    padding-bottom: 0;
    border: 1px solid #b5ddff;
    border-radius: 1.25rem;
}
.row{
    flex-flow: column wrap;
    align-items: center;
}
.col i {
    font-size: 6.25rem;
    color: var(--first-color);
}
section,footer{
    padding: 3.75rem 1.875rem;
}
@media screen and (min-width: 768px) {
    #app-info .container .row{
        flex-direction: row;
    }
    .row .col:first-child{
        width: calc((100% / 3)* 2 - 1.25rem);
    }
    .col:not(.col:first-child){
        width: calc(100% / 3 - 1.25rem);
        padding: 1.875rem;
    }
}
@media screen and (min-width: 992px) {
    #app-info .container .row{
        flex-direction: row;
    }
    .row .col:first-child{
        width: calc((100% / 3)* 2 - 1.25rem);
        display: flex;

    }
    .col:not(.col:first-child){
        width: calc(100% / 3 - 1.25rem);
        padding: 3.125rem;
    }
}
/* STRATEGIC PLANS */
#strategic-plans{
    background-color: var(--secondary-color);
}
#strategic-plans .container {
    flex-direction: column;
    color: white;
}
#strategic-plans img{
    padding: 1.875rem;
}
 .white-bg{
background-color: white;
border: 1px solid white;
border-radius: 1.25rem;
padding: .9375rem;
color: black;
text-align: center;
}
@media screen and (min-width:768px) {
    #strategic-plans .container{
        flex-direction: row;
        align-items: center;
    }
    #strategic-plans .container div{
        width: calc(100% /3);
    }
}
/* /STRATEGIC PLANS */

/* TESTIMONIALS */
.cards{
    background-color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    border-radius: 1.25rem;
    margin: 1.25rem;
    flex-direction: column;
    align-items: center;
    
}
.cards .txt-content{
    width: 50%;
    color: white;
}
.cards .img{
    width: 50%;
}
.cards .img img{
    border: 1px white;
    border-radius: 100%;
}
@media screen and (min-width:768px) {
    .cards{
        flex-direction: row;
    }
    .cards .txt-cards{
        width: 70%;
    }
    .cards .img{
        width: 30%;
    }
}
/* /TESTIMONIALS */

/* BENEFITS */
#benefits{
    background-color: var(--secondary-color);
}
.container-cards{
    flex-direction: column;
    align-items: center;
}
.cards-container{
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: white;
    border: 1px solid white;
    border-radius: 1.25rem;
    padding: 3.125rem .625rem;
    margin: .625rem;
}
.cards-container h2, .cards-container h3 {
color: var(--secondary-color);
font-size: 1.875rem;
}
.cards-container p{
    padding: 1.25rem;
}
#benefits .txt-content h3 {
    color: white;
}
@media screen and (min-width: 768px){
    main #benefits .container-cards .cards-container {
        width: calc(100% / 3);
    } 
    .container-cards{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
}
    @media screen and (min-width: 992px){
        main #benefits .container-cards .cards-container {
            width: calc(100% / 4);
        } 
        .container-cards{
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
        }    
    }
/* BENEFITS */

/* ABOUT US */
.container-col{
    flex-direction: column;
    text-align: left;
}
.container-col .text-col h2{
    text-align: center;
    color: var(--secondary-color);
    font-size: 1.875rem;
    padding-bottom: 1.5625rem;
}
.container-col .text-col p{
    padding: 1.25rem;
}
.cont-col-img{
    width: 30%;
    border: 1px white;
    border-radius: 100%;
}
.cont-col-img img{
    border: 1px white;
    border-radius: 100%;
}
span{
    padding: 5px;
}